@import 'styles/main';

#ChattingPage {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  .chat-form {
    width: 70%;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    .chat-tit {
      padding: 10px 20px;
      background-color: #fff;
      h1 {
        text-align: center;
      }
    }
    .chat-cont {
      padding: 10px 20px;
      flex-grow: 1;
      overflow-y: scroll;
      .in-out-message {
        display: block;
        margin: 8px 0;
        padding: 0;
        font-weight: 700;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
      }
      .chat {
        overflow: hidden;
        padding: 8px 0;
        .left-chat {
          float: left;
          padding-left: 40px;
          position: relative;
          max-width: 60%;
          .profile-ico {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            svg {
              color: #c2c2c2;
            }
          }
          .talk {
            position: relative;
            box-sizing: border-box;
            padding-top: 23px;
            margin-left: 7px;

            .writer {
              position: absolute;
              top: 2px;
              left: 0;
              font-size: 14px;
              line-height: 13px;
              vertical-align: top;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .content {
              overflow: hidden;
              display: inline-block;
              position: relative;
              z-index: 0;
              max-width: 100%;
              border-radius: 3px 16px 16px;
              font-size: 14px;
              line-height: 1.33;
              background-color: #fff;
              word-break: break-word;
              word-wrap: break-word;
              vertical-align: bottom;
              .txt {
                margin: 10px 12px 9px;
                white-space: pre-wrap;
              }
            }
            .time {
              position: absolute;
              left: 100%;
              bottom: 0;
              min-width: 83px;
              .desc {
                display: block;
                padding: 0 5px 0;
                font-size: 10px;
                color: #888;
                line-height: 1.2em;
                white-space: nowrap;
              }
            }
          }
        }
        .right-chat {
          float: right;
          position: relative;
          max-width: 60%;
          padding-left: 40px;
          .talk {
            float: right;
            margin: 0;
            padding: 0;
            text-align: right;
            position: relative;
            .content {
              overflow: hidden;
              display: inline-block;
              position: relative;
              z-index: 0;
              max-width: 100%;
              border-radius: 16px 16px 3px;
              font-size: 14px;
              line-height: 1.33;
              background-color: #fff;
              word-break: break-word;
              word-wrap: break-word;
              vertical-align: bottom;
              text-align: left;
              .txt {
                margin: 10px 12px 9px;
                white-space: pre-wrap;
              }
            }
            .time {
              position: absolute;
              right: 100%;
              bottom: 0;
              min-width: 83px;
              .desc {
                display: block;
                padding: 0 5px 0;
                font-size: 10px;
                color: #888;
                line-height: 1.2em;
                white-space: nowrap;
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
    .chat-input-form {
      padding: 10px 20px;
      background: #fff;
      form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
          width: 90%;
          border: 1px solid $border;
          background: $border;
          border-radius: 15px;
          padding: 10px;
        }
        svg {
          color: $mainColor;
        }
      }
    }
  }
  .member-list {
    width: 30%;
    background-color: #fff;
    border-left: 1px solid $border;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .member-tit {
      padding: 23px 20px;
      border-bottom: 1px solid #f4f4f4;
      font-size: 18px;
    }
    .member-cont {
      flex-grow: 1;
      overflow-y: scroll;
      li {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        svg {
          margin-right: 10px;
          color: #c2c2c2;
        }
      }
    }
  }
}
