.AllCafeList {
  overflow: hidden;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 140px;
  .cafe-body {
    overflow: hidden;
    width: 1100px;
    margin: 36px auto 0;
    .cafe-list {
      position: relative;
      width: 100%;
      margin: 0 auto;
      background-color: #fff;
      .wrap-tit {
        margin-bottom: 13px;
        position: relative;
        .tit-item {
          float: left;
          font-size: 20px;
          font-weight: 700;
          color: #333;
        }
      }
      .wrap-tit::after {
        display: block;
        width: 0;
        height: 0;
        clear: both;
        content: '';
      }

      .all-cafe-list {
        li {
          border-bottom: 1px solid #ececec;
          .link {
            display: block;
            overflow: hidden;
            padding: 10px 20px;
            border-radius: 8px;
            .thumb-info-type {
              float: left;
              width: 556px;
              overflow: hidden;
              .wrap-thumb {
                width: 104px;
                height: 65px;
                margin-right: 8px;
                float: left;
                .img-thumb {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  vertical-align: top;
                }
                .img-thumb::after {
                  border-radius: 2px;
                }
              }
              .wrap-info {
                position: relative;
                padding-left: 48px;
                height: 65px;
                box-sizing: border-box;
                color: #333;
                line-height: 31px;
                overflow: hidden;
                .desc-info {
                  overflow: hidden;
                  padding-top: 16px;
                  font-size: 18px;
                  font-weight: 500;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }

            .additional-info {
              overflow: hidden;
              padding: 23px 20px 0 0;
              text-align: right;
              font-size: 0;
              .text-item {
                display: inline-block;
                overflow: hidden;
                position: relative;
                max-width: 80px;
                padding-right: 14px;
                font-size: 20px;
                color: #333;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: top;
              }
              .num {
                font-weight: 700;
                color: #ff5656;
                font-size: 18px;
                margin-right: 5px;
                line-height: 20px;
              }
            }
          }
          .link:hover {
            background-color: #efefef;
          }
        }
      }
    }
  }
}
