.page-layout {
  // background-color: #f0f2f5;
  max-width: 1300px;
  margin: 0 auto;
}

#CafePage {
  .inner-page {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    .cafe-menu {
      width: 204px;
      letter-spacing: -0.5px;
      overflow: hidden;
      text-align: left;
      flex: 0 1 290px;
      align-self: flex-start;
      position: sticky;
      top: 55px;
    }
    .cafe-content {
      flex: 1 1 750px;
      margin: 0 90px;
      // min-height: 100vh;
      padding-top: 50px;
      width: 750px;
    }
  }
}
