.page-layout {
  max-width: 1250px;
  margin: 0 auto;
  height: 100%;
}

#CafePage {
  .inner-page {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    height: 100%;
    .cafe-menu {
      width: 204px;
      letter-spacing: -0.5px;
      overflow: hidden;
      text-align: left;
      flex: 0 1 204px;
      align-self: flex-start;
      position: sticky;
      top: 55px;
    }
    .cafe-content {
      flex: 1 1 650px;
      margin: 0 90px;
      // min-height: 100vh;
      padding-top: 50px;
      width: 650px;
    }
  }
}
