@import 'styles/main';

#BoardList {
  height: 100%;
  .list-content {
    overflow: hidden;
    height: 100%;
    .list-box {
      padding-top: 5px;
      height: 100%;
      .list-in-box {
        clear: both;
        width: 100%;
        height: 100%;
        line-height: 1.5;
        ul {
          height: 100%;
          .no-post {
            margin-top: 80px;
          }
          li {
            padding: 15px 0 5px 0;
            display: block;
            border-bottom: 1px solid #e6e4e4;
            .link:hover {
              text-decoration: underline;
            }
            .title {
              font-size: 16.5px;
              width: 100%;
              font-weight: 500;
            }
            .content {
              font-size: 14px;
              padding: 10px 0 7px;
              max-height: 100px;
              overflow: hidden;
            }

            .sub {
              white-space: nowrap;
              font-size: 12px;
              display: flex;
              justify-content: space-between;
              .sub-left {
                color: #6f6f6f;
                .spe {
                  margin: 0 5px;
                }
              }
              .sub-right {
                display: flex;
                .item {
                  display: flex;
                  align-items: center;
                  margin-right: 9px;
                  svg {
                    margin-right: 3px;
                  }
                }
                .like {
                  color: $mainColor;
                }
                .comment {
                  color: #4a4848;
                }
              }
            }
          }
        }
      }
    }
  }
}
