#Footer {
  width: 100%;
  margin-top: 60px;
  border-top: 1px solid #e6e4e4;
  padding: 40px 0 50px;
  .inner-footer {
    margin: 0 auto;
    width: 1024px;
    .footer-title {
      text-align: center;
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 15px;
      color: #999;
    }
    .footer-github {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        color: #000;
        margin-right: 5px;
      }

      .footer-link {
        color: #5f0080;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        display: block;
      }
      .footer-link:hover {
        text-decoration: underline;
      }
    }
  }
}
