#AuthForm {
  min-width: 290px;
  max-width: 460px;
  margin: 0 auto;
  padding: 0 20px;
  .logo {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
    a {
      font-size: 45px;
      font-weight: 700;
    }
  }

  .form {
    input {
      display: block;
      width: 100%;
      padding: 14px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .btn {
      width: 100%;
      padding: 14px;
      font-weight: 700;
      font-size: 15px;
      cursor: pointer;
    }
    hr {
      border-top: 1px solid #ddd;
      margin: 15px 0;
    }
    a {
      text-align: center;
    }
  }
}
