@import 'styles/main';
#MyAlert {
  flex: 0 0 220px;
  align-self: flex-start;
  position: sticky;
  top: 55px;
  padding-top: 50px;

  .alert-tit {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .alert-list {
    ul {
      li {
        border-bottom: 1px solid $border;
        padding: 10px 0;
        margin: 8px 0;
        a {
          display: block;
          padding: 5px;
          &:hover {
            background-color: rgb(244, 244, 244);
          }
        }
        .title {
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 8px;
        }
        .reply {
          font-size: 14px;
          margin-bottom: 5px;
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          .ico {
            margin-right: 5px;
          }
          .name {
            font-weight: 600;
            font-size: 13px;
            color: #382f2f;
            margin-right: 5px;
          }
        }
        .date {
          overflow: hidden;
          span {
            float: right;
            font-size: 12px;
            color: gray;
          }
        }
      }
    }
  }
}
