#PostDetail {
  .post-body {
    padding: 30px 20px;
    .post-title {
      font-size: 33px;
      line-height: 1.5;
      letter-spacing: -0.004em;
      margin-top: 0px;
      font-weight: 800;
      color: rgb(52, 58, 64);
      margin-bottom: 1rem;
      word-break: keep-all;
    }
    .post-writer {
      color: rgb(52, 58, 64);
      font-weight: bold;
    }
    .sperator {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .post-content {
        margin-top: 20px;
        padding: 20px 0;
        border-bottom: 1px solid #ebecef;
        min-height: 45vh;
    }
  }
}
