#CafeBanner {
  margin-bottom: 30px;
  .front-img {
    position: relative;
    width: 1080px;
    max-height: 340px;
    margin: 0 auto 20px;
    .front-cate {
      cursor: pointer;
      background-image: none;
      width: 1080px;
      max-height: 340px;
      a {
        display: block;
      }
    }
  }
}
