#CafeInfoBox {
  overflow: hidden;
  padding-top: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid #cecece;
  padding-bottom: 20px;
  .cafe-info-bg {
    width: 100%;
    .info-tab {
      padding: 10px 15px;
      font-weight: bold;
      letter-spacing: -1px;
      .active {
        color: black;
        font-weight: 700;
      }
    }
    /* Cafe Info */
    .cafe-name {
      font-size: 17px;
      line-height: 22px;
      padding: 0 15px 5px;
      margin: 15px 0;
      font-weight: bold;
      letter-spacing: -1px;
      word-break: break-all;
    }
    .cafe-info {
      padding: 0 15px 4px 15px;
      width: 100%;
      text-align: left;
      .info {
        margin-bottom: 6px;
        .info-tit {
          width: 50px;
          display: block;
          float: left;
          font-size: 15px;
        }
        .txt-point {
          color: #333;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .cafe-manage {
        padding-top: 8px;
        font-weight: 400;
        color: #666;
        display: flex;
        align-items: center;
        svg {
          color: rgb(180, 178, 178);
        }
      }
    }

    .cafe-btn {
      padding: 5px 20px;
      button {
        width: 100%;
      }
      .btn-type1,
      .btn-type2 {
        padding: 9px 0 10px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
      }
      .spacing {
        margin-bottom: 5px;
      }
    }
  }
}
